__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/
.DS_Store

.venv/

# Latex report compile unnecessary files
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.pdf
results/tables/*.md
*.png
*.csv
